fastapi
uvicorn
pandas
sqlalchemy
streamlit
requests
Pillow
langchain-core
langchain-community
langchain-openai
huggingface-hub
sentence-transformers
chromadb
crewai
python-dotenv
matplotlib
psycopg2-binary
python-multipart
